.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}


.modal-character-wrapper {
    display: none;
    position: fixed;
    padding: 40px;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    max-width: 768px;
    width: 90%;
    height: 90%;
    justify-content: center;
    text-align: start;
    background: #ffffff;
    border-radius: 20px;
    overflow-y: auto;
    margin: 0 auto;
}


.modal__image-wrapper {
    display: flex;
    justify-content: space-around;
    height: 300px;
}


.modal__close-btn {
    position: absolute;
    right: 40px;
    top: 40px;
    border-radius: 50%;
    border: none;
    padding: 2px;
    font-size: 33px;
    background-color: #ffffff;
}

.modal-character__title {
    font-size: 33px;
    padding: 24px 0;
}

.modal__-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    gap: 12px;
    font-size: 20px;
    position: absolute;
    width: auto;
    overflow-wrap: break-word;
}

